---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "variables";

@import "vendor/sanitize";
@import "vendor/guff";

@import "elements/navs";
@import "elements/articles";
@import "elements/asides";
@import "elements/search";

@import "syntax-highlighting";

h1 {
  font-size: 1.5rem;
}

h2.post-list-header {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

h1,
h2 {
  font-family: 'IM Fell English';
}

a {
  color: $link-color;
  transition: color 0.2s;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

hr {
  margin: 1rem;
  border-bottom: 1px solid $nav-background-color;
}

.post-list {
  > article {
    margin-bottom: 2rem;
    border-bottom: 2px solid #888;
    padding-bottom: 1rem;
  }
}

.container {
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem;
  @include clear;

  @include breakpoint($desktop) {
    width: 85%;
  }

  > main {
    @include type;

    @include breakpoint($desktop) {
      @include col(8);
    }

    p,
    pre,
    code,
    .highlight {
      margin-bottom: 1.5rem;

      pre,
      code {
        margin-bottom: 0;
      }
    }

    .post-list-header {
      border-bottom: 1px solid #aaa;
    }
  }

  > aside {
    border-top: 2px solid #999;

    @include breakpoint($desktop) {
      @include col(4);
      border: 0;
    }
  }
}
