html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $site-font-family;
  background-color: $site-background-color;
  color: $site-text-color;
  margin: 0;
}

a {
  color: $site-link-color;
  text-decoration: underline;

  &:hover {
    color: lighten($site-link-color, 50%);
    text-decoration: underline;
  }
}
