html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: $site-font-family;
  background-color: $site-background-color;
  color: $site-text-color;
  margin: 0;
}

a {
  color: $site-link-color;
  text-decoration: $site-link-text-decoration;

  &:hover {
    color: $site-link-hover-color;
    text-decoration: $site-link-hover-text-decoration;
  }
}
