
.container {
  width: 100%;
  margin: 1rem auto;
  padding: 0 1rem;
  @include clear;

  @include breakpoint($desktop) {
    width: 85%;
  }

  > main {
    @include type;

    @include breakpoint($desktop) {
      @include col(8);
    }

    p,
    pre,
    code,
    .highlight {
      margin-bottom: 1.5rem;

      pre,
      code {
        margin-bottom: 0;
      }
    }

    .post-list-header {
      border-bottom: 1px solid #aaa;
    }
  }

  > aside {
    border-top: 2px solid #999;

    @include breakpoint($desktop) {
      @include col(4);
      border: 0;
    }
  }
}
