nav {
  background-color: $nav-background-color;
  padding: 30px;

  h1 {
    display: inline;
  }

  .nav-links {
    display: inline;

    li {
      display: inline-block;
      padding: 0 11px;
      border-left: 1px solid #999;
    }
  }

  .social-media-links {
    display: inline;
    float: right;

    li {
      display: inline-block;
      padding: 0 10px;
      font-size: 1.2em;
    }
  }

  a {
    text-decoration: none;
  }
}
